*{
	top: 0;
	left: 0;
	font-family: Arial;
}
form{
	position: relative;
	justify-content: center;
	text-align: center;
	border: 2px solid darkgreen;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('image2/volunteer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 0;
}
h1{
	color: #fff;
}
.icon ul li{
	display: inline-block;
	text-decoration: none;
	list-style: none;
	font-size: 30px;
	padding: 0 16px;
	color: #fff;
}
.icon ul li:hover{
	color: yellow;
}
h2{
	text-decoration: none;
	color: #fff;
}
input{
	margin: 5px 10px;
	padding: 10px 10px;
	height: 25px;
	width: 350px;
	border: none;
	border-radius: 20px;
}
button{
	margin: 20px;
	padding: 10px 25px;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	border: none;
	border-radius: 20px;
	color: white;
	background-color: darkgreen;
	font-weight: bold;
}
button:hover{
	color: darkgreen;
	background-color: white;
}
.back{
	font-size: 30px;
	font-weight: bold;
	text-transform: capitalize;
}
.back a{
	color: white;
	text-decoration: none;
}
.back a:hover{
	color: yellow;
}